h1
{
    background-color:green;
}
h2
{
    background-color:red;
}
h3
{
    background-color:blueviolet;
}
p
{
    border:10px dashed pink;
    font-size:40px;
    text-align:justify;
}